*.dep
*.o
*.a
*.d
second-stage/programs/*/read-tree.cc
evalb/evalb
first-stage/PARSE/parseIt
first-stage/PARSE/fusion
first-stage/PARSE/evalTree
first-stage/PARSE/parseAndEval
first-stage/TRAIN/iScale
first-stage/TRAIN/kn3Counts
first-stage/TRAIN/pSfgT
first-stage/TRAIN/pSgT
first-stage/TRAIN/pTgNt
first-stage/TRAIN/pUgT
first-stage/TRAIN/rCounts
first-stage/TRAIN/selFeats
first-stage/TRAIN/trainRs
second-stage/programs/eval-beam/main
second-stage/programs/eval-weights/best-indices
second-stage/programs/eval-weights/best-parse
second-stage/programs/eval-weights/best-parses
second-stage/programs/eval-weights/eval-weights
second-stage/programs/eval-weights/pretty-print
second-stage/programs/features/best-*parses
second-stage/programs/features/count-*features
second-stage/programs/features/extract-*features
second-stage/programs/features/oracle-score
second-stage/programs/features/parallel-extract-nfeatures
second-stage/programs/features/parallel-extract-spfeatures
second-stage/programs/prepare-data/copy-trees-ss
second-stage/programs/prepare-data/prepare-ec-data
second-stage/programs/prepare-data/prepare-ec-data100
second-stage/programs/prepare-data/prepare-new-data
second-stage/programs/prepare-data/ptb
second-stage/programs/wlle/avper
second-stage/programs/wlle/cvlm
second-stage/programs/wlle/cvlm-lbfgs
second-stage/programs/wlle/gavper
second-stage/programs/wlle/oracle
*.sw[op]
*.orig
tags
TAGS
*.py[co]
*.class
*.so
*_wrapper.cxx
second-stage/programs/features/swig/*/lib/*
second-stage/programs/features/swig/*/build/*
first-stage/PARSE/swig/*/lib/*
first-stage/PARSE/swig/*/build/*
SParseval/*
regression-test-*
build*
dist*
first-stage/PARSE/parser_wrapper.C
second-stage/programs/features/reranker_wrapper.C
first-stage/PARSE/swig/wrapper.C
second-stage/programs/features/swig/wrapper.C
python/bllipparser/CharniakParser.py
python/bllipparser/JohnsonReranker.py
MANIFEST
bllipparser.egg-info
